<div id="<%= dom_id user %>">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h2 class="display-5 fw-bold">
        <%= user.username %>
      </h2>
      <p class="col-md-8 fs-4">
        Email: <%= user.email %> <br>
        Password: <%= user.password %> <br>
      </p>
    </div>
  </div>

</div>


