<%= render @user %>

<div class="d-grid gap-2 d-md-block">
  <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-secondary btn-lg' %> |
  <%= link_to "Back to users", users_path, class: 'btn btn-dark btn-lg' %>
  <%= button_to "Destroy this user", @user, method: :delete, class: 'btn btn-danger mt-4' %>
</div>
