<div class="mt-5 text-center">
  <h1>"Users" CRUD Application made with `Ruby on Rails` framework</h1>

  <div class="container mt-5">
    <%= link_to "Show me, bro!", customers_path, class: "btn btn-primary" %>
  </div>
</div>
